.u-section-1 .u-sheet-1 {
  min-height: 1116px;
}

.u-section-1 .u-form-1 {
  height: 720px;
  width: 539px;
  margin: 0 auto;
}

.u-section-1 .u-form-group-1 {
  width: 100%;
}

.u-section-1 .u-label-1 {
  letter-spacing: 1px;
}

.u-section-1 .u-form-group-2 {
  width: 100%;
}form .error {
  color: #ff0000;
}

.u-section-1 .u-label-2 {
  letter-spacing: 1px;
}

.u-section-1 .u-form-group-3 {form .error {
  color: #ff0000;
}
  margin-left: 0;
}

.u-section-1 .u-label-3 {
  letter-spacing: 1px;
}

.u-section-1 .u-form-group-4 {
  width: 100%;
}

.u-section-1 .u-label-4 {
  letter-spacing: 1px;
}

.u-section-1 .u-form-group-5 {
  width: 100%;
}

.u-section-1 .u-label-5 {
  letter-spacing: 1px;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-label-6 {
  letter-spacing: 1px;
}

.u-section-1 .u-form-group-7 {
  margin-left: 0;
}

.u-section-1 .u-label-7 {
  letter-spacing: 1px;
}

.u-section-1 .u-form-group-8 {
  width: 100%;
}

.u-section-1 .u-form-group-9 {
  width: 100%;
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  font-weight: normal;
  font-size: 1rem;
}

.u-section-1 .u-custom-html-1 {
  width: 570px;
  min-height: 228px;
  margin: 0 auto;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;form .error {
  color: #ff0000;
}
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.875rem;
  background-image: none;
  margin: 20px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-1 {
    height: 832px;
  }

  .u-section-1 .u-btn-1 {
    border-style: solid;
    font-size: 0.75rem;
    font-weight: 800;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-1 {
    width: 50%;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 8px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-btn-1 {
    border-style: none none solid;
    font-weight: normal;
    font-size: 1rem;
    padding: 0;
  }

  .u-section-1 .u-custom-html-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-form-group-3 {
    width: 100%;
  }

  .u-section-1 .u-form-group-6 {
    width: 100%;
  }

  .u-section-1 .u-form-group-7 {
    width: 100%;
  }

  .u-section-1 .u-custom-html-1 {
    width: 340px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 0;
    margin-right: 0;
    padding: 9px 20px 11px 18px;
  }
  
	form .error {
	color: #ff0000;
  }
}
